{% extends 'base_layout.html' %}
{% load static%}
{% block content %}
<h1>About me</h1>
<img class="me" src="{% static 'me.jpg' %}">
<p style="display:inline-block; width: 800px;">Hi, I'm Michal. I am a Full Stack Python developer with a passion for learning new things and solving problems. <br>
    I hold a BSc in Mechanical Engineering from Ben Gurion University, graduated with honors. <br>
    In my former career as a Mechanical Engineer I've had vast experience in working in R&D departments in design and research roles, leading organic teams and matrixial teams and collaborating with cross-orgnizational peers.<br>
    I am a ultra-quick learner, easy to get along with, and always happy to take on new challenges.<br>
    <b>You are welcome to contact me via email: <span style="color:darkorchid;">mickalish@gmail.com </span> phone: <span style="color:darkorchid;">054-5877872</span> or my <a href="http://www.linkedin.com/in/michal-kalish-moses">linkedin</a> page</p></b>
<h1>About this project</h1>
<p>I built this website as my final project at <a href="https://www.expertsgroup.co.il/experts-academy/">Expert's Academy</a> Python course. <br>
    This was a hands-on programming course which included:<br>
<ul>
    <li style="margin-left: 16px;">Python fundamentals (files I/O, error handling, modules and tools)</li>
    <li style="margin-left: 16px;">Front-end development (Python CGI Programming, Web frameworks, Django)</li>
    <li style="margin-left: 16px;">Backend (Rest APIs, JSON, Relational databases, CRUD, backup and security).</li>
</ul>

</p>
<h1>Disclamer</h1>
<p>This website is for private use only. All data presented in the website is the intellectual property of <a href="https://www.themoviedb.org/">TMDB</a></p>

{% endblock %}S